<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      {# % fait une boucle, conditons...% #}
    {% for product in products %}
        {% if loop.index0 % 3 == 0 and loop.index0 %}
            <br>
        {% endif %}
        <span id="product{{ loop.index }}">{{ product }}</span>
    {% endfor %}
    {# {{ fait un echo }}#} 
    <div>{{ dump(products) }}</div>
</body>
</html>
